<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Scancheck>
      <version>0.1.2</version>
    </Magebuzz_Scancheck>
  </modules>
  <frontend>
    <secure_url>
      <scancheck>/scancheck/</scancheck>
    </secure_url>
    <routers>
      <scancheck>
        <use>standard</use>
        <args>
          <module>Magebuzz_Scancheck</module>
          <frontName>scancheck</frontName>
        </args>
      </scancheck>
    </routers>
    <layout>
      <updates>
        <scancheck>
          <file>scancheck.xml</file>
        </scancheck>
      </updates>
    </layout>
  </frontend>
  <global>
    <fieldsets>
      <sales_convert_quote_payment>
        <file_check>
          <to_order_payment>*</to_order_payment>
        </file_check>
      </sales_convert_quote_payment>
    </fieldsets>
    <models>
      <scancheck>
        <class>Magebuzz_Scancheck_Model</class>
        <resourceModel>scancheck_mysql4</resourceModel>
      </scancheck>
      <scancheck_mysql4>
        <class>Magebuzz_Scancheck_Model_Mysql4</class>
        <entities>
          <scancheck>
            <table>scancheck</table>
          </scancheck>
          <sales_quote_payment_file>
            <table>sales_quote_payment_file</table>
          </sales_quote_payment_file>
          <sales_order_payment_file>
            <table>sales_order_payment_file</table>
          </sales_order_payment_file>
        </entities>
      </scancheck_mysql4>
    </models>
    <resources>
      <scancheck_setup>
        <setup>
          <module>Magebuzz_Scancheck</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </scancheck_setup>
      <scancheck_write>
        <connection>
          <use>core_write</use>
        </connection>
      </scancheck_write>
      <scancheck_read>
        <connection>
          <use>core_read</use>
        </connection>
      </scancheck_read>
    </resources>
    <blocks>
      <scancheck>
        <class>Magebuzz_Scancheck_Block</class>
      </scancheck>
    </blocks>
    <helpers>
      <scancheck>
        <class>Magebuzz_Scancheck_Helper</class>
      </scancheck>
    </helpers>
    <events>
      <sales_quote_save_after>
        <observers>
          <sales_quote_save_after>
            <type>singleton</type>
            <class>Magebuzz_Scancheck_Model_Observer</class>
            <method>saveQuoteAfter</method>
          </sales_quote_save_after>
        </observers>
      </sales_quote_save_after>
      <checkout_submit_all_after>
        <observers>
          <save_after>
            <type>singleton</type>
            <class>Magebuzz_Scancheck_Model_Observer</class>
            <method>placeOrderAfter</method>
          </save_after>
        </observers>
      </checkout_submit_all_after>
    </events>
    <template>
      <email>
        <payment_scancheck_email_admin_template translate="label" module="scancheck">
          <label>Payment File Scanned</label>
          <file>scancheck/paymentfile.html</file>
          <type>html</type>
        </payment_scancheck_email_admin_template>
      </email>
    </template>
    <translate>
      <modules>
        <Magebuzz_Scancheck>
          <files>
            <default>Magebuzz_Scancheck.csv</default>
          </files>
        </Magebuzz_Scancheck>
      </modules>
    </translate>
  </global>
  <default>
    <payment>
      <scancheck>
        <active>1</active>
        <model>scancheck/scancheck</model>
        <order_status>pending</order_status>
        <title>Scanned Check</title>
        <mailing_address>hello@example.com</mailing_address>
        <email_admin_template>payment_scancheck_email_admin_template</email_admin_template>
      </scancheck>
    </payment>
  </default>
  <translate>
    <modules>
      <Magebuzz_Scancheck>
        <files>
          <default>Magebuzz_Scancheck.csv</default>
        </files>
      </Magebuzz_Scancheck>
    </modules>
  </translate>
</config>